header.header
  .header__cont
    .burger-btn
      span.burger-btn__elem

    .burger-menu.hidden

    nav.header-nav
      ul.header-nav__list
        li.header-nav__item
          a.header-nav__link(href='#') Item 1
        li.header-nav__item
          a.header-nav__link(href='#') Item 2
        li.header-nav__item
          a.header-nav__link(href='#') Item 3
        li.header-nav__item
          a.header-nav__link(href='#') Item 4