extends template.pug

block content
  //- Header block ('.header')
  include assets/blocks/header/block.pug


  - const page = 'index'

  main(class='content '+ page +'')
    //- Main block ('.main')
    include assets/blocks/main/block.pug


  //- Popup block ('.footer')
  include assets/blocks/footer/block.pug
