extends template

block content
  //- Header block ('.header')
  include /header/block


  - const page = 'index'

  main(class='content '+ page +'')
    //- Main block ('.main')
    include /main/block


  //- Popup block ('.footer')
  include /footer/block
